In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt, matplotlib.image as mpimg
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
%matplotlib inline
from collections import Counter
from sklearn.metrics import accuracy_score
from sklearn import ensemble
from xgboost.sklearn import XGBClassifier
from sklearn.utils import shuffle
from datetime import date
import math
from sklearn.metrics import accuracy_score
from lightgbm import LGBMClassifier
from datetime import date
from sklearn.metrics import roc_auc_score
from sklearn.metrics import auc
from sklearn.metrics import roc_curve
from sklearn.cross_validation import cross_val_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
from catboost import CatBoostClassifier, Pool, cv

/home/alena/.local/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

Rosbank ML Competition
https://boosters.pro/champ_15
Прогнозирование оттока клиентов после льготного использования кредитной карты банка

In [2]:
test = pd.read_csv('data/test.csv')
train = pd.read_csv('data/train.csv')

In [3]:
train['sum'] = train['amount'].groupby(train['cl_id']).transform('sum')
test['sum'] = test['amount'].groupby(test['cl_id']).transform('sum')

In [14]:
test['sum'] = test['amount'].groupby(train['cl_id']).transform('sum')

In [4]:
train['MCC'].unique()

array([5200, 6011, 5921, 5411, 6012, 5814, 4111, 5812, 5661, 7996, 5947,
       5691, 5813, 7991, 7399, 4468, 5999, 5811, 5912, 5942, 9311, 5977,
       7832, 5499, 5651, 5944, 5621, 4112, 5735, 5995, 5331, 7230, 7922,
       4131, 4814, 8011, 5722, 4722, 5941, 4511, 5641, 7011, 9222, 5211,
       7299, 5993, 5533, 5655, 5983, 5992, 5541, 7531, 4829, 5251, 8999,
       5311, 5732, 8099, 5699, 5943, 4812, 5712, 7542, 8062, 5714, 5611,
       5462, 5451, 7997, 4011, 8071, 7512, 5261, 5719, 9399, 4784, 5631,
       7278, 7311, 9211, 7298, 6300, 4900, 5964, 5192, 5945, 5111, 5441,
       8043, 6051, 7538, 7032, 7523, 5399, 3011, 7216, 5946, 7221, 5300,
       8299, 4816, 4121, 8021, 6010, 4789, 7941, 5193, 5949, 7375, 7933,
       3010, 5950, 4215, 4214,  780, 7699, 5970, 5734, 5948, 7395, 5309,
       3703, 5994, 4411, 7999, 5511, 5131, 4899, 7392, 9402, 3381, 8398,
       5713, 5422, 5733,  742, 3355, 5199, 5310, 3260, 3058, 3628, 3824,
       3057, 3607, 3515, 3387, 7995, 7629, 7998, 6211, 3503, 8211, 3642,
       7393, 3013, 7349, 5074, 7210, 5122, 7841, 5039, 3047, 2741, 4582,
       7994, 5172, 5065, 5231, 3509, 3357, 5681, 5816, 5817, 5931, 5532,
       5976, 5542, 5085, 7297, 3502, 7394, 3136, 8244, 5521, 1750, 3008,
       7993, 5968, 3501, 5169, 3533, 3649, 8641, 3236, 7911, 5967, 5969,
       6513, 5044, 5094, 7261, 5971, 5973, 1711, 7829, 8911, 6540, 5013,
       8351, 5718, 8931, 7372, 3504, 7932, 3586, 5998, 3553, 3640, 1799,
       7929, 6538, 5045, 7217, 5940, 3005, 3674, 7321, 3535, 3032, 3102,
       3068, 7338, 5818, 3297, 3393, 3042, 3665, 3604, 7992, 5697, 5137,
       5978, 5099, 5932, 3579, 5047, 7339, 3710, 3405, 9405, 5561, 8661,
       5599, 3778, 3245, 7251, 7622, 5072, 8111, 3246, 7033, 3026, 3077,
       8220, 3530, 4225, 3000, 3007, 2842, 8042, 3715, 5571, 7273, 5972,
       3029, 3182, 7549, 8699, 8050, 8241, 7631, 3750, 3555,  763, 3583,
       3625, 3508, 3722, 5046, 3692, 5551, 7379, 5139, 3615, 7623, 3590,
       7277, 3545, 5198, 1731, 5937, 3690, 3001, 3395, 7333, 3028, 3191,
       3035, 1520, 3181, 3217, 5996, 3512, 3064, 3543, 3513, 4457, 7534,
       5962, 5963, 3211, 7211, 3659, 5815, 3548, 3098, 3655, 3559, 5965,
       5021, 5051, 3678, 3650, 7519, 3015, 3520, 5960, 3051, 8675, 5997,
       7012, 3634, 3730])

In [7]:
train = pd.concat([train, pd.get_dummies(train['MCC'], prefix='mcc_')], axis=1)

In [9]:
train = pd.concat([train, pd.get_dummies(train['MCC'], prefix='mcc_')], axis=1)
test = pd.concat([test, pd.get_dummies(test['MCC'], prefix='mcc_')], axis=1)
train = pd.concat([train, pd.get_dummies(train['trx_category'], prefix='trx_category_')], axis=1)
test = pd.concat([test, pd.get_dummies(test['trx_category'], prefix='trx_category_')], axis=1)

In [19]:
test["target_flag"] = 0
test["target_sum"] = 15964680

In [11]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518376 entries, 0 to 518375
Data columns (total 9 columns):
PERIOD          518376 non-null object
cl_id           518376 non-null int64
MCC             518376 non-null int64
channel_type    516222 non-null object
currency        518376 non-null int64
TRDATETIME      518376 non-null object
amount          518376 non-null float64
trx_category    518376 non-null object
target_flag     518376 non-null int64
dtypes: float64(1), int64(4), object(4)
memory usage: 35.6+ MB

In [13]:
test['cl_id'].unique().shape

(5217,)

In [8]:
test.groupby('cl_id', as_index=False).first()[['cl_id', 'target_flag']].to_csv('subm.csv', encoding='utf-8', sep=',', index=False)

In [20]:
test.groupby('cl_id', as_index=False).first()[['cl_id', 'target_sum']].to_csv('subm_2.csv', encoding='utf-8', sep=',', index=False)

In [10]:
train['PERIOD'] = pd.to_datetime(train['PERIOD'])
train['month'] = train['PERIOD'].dt.day.astype(np.int32)
train['year'] = train['PERIOD'].dt.year.astype(np.int32)

In [11]:
test['PERIOD'] = pd.to_datetime(test['PERIOD'])
test['month'] = test['PERIOD'].dt.day.astype(np.int32)
test['year'] = test['PERIOD'].dt.year.astype(np.int32)

In [102]:
train['month'].unique()

array([10, 12,  7,  9,  8,  6,  4,  5,  3, 11,  1,  2])

In [14]:
train['MCC'] = train['MCC'].factorize()[0].astype(np.int32)
test['MCC'] = test['MCC'].factorize()[0].astype(np.int32)

train['currency'] = train['currency'].factorize()[0].astype(np.int32)
test['currency'] = test['currency'].factorize()[0].astype(np.int32)

train['trx_category'] = train['trx_category'].factorize()[0].astype(np.int32)
test['trx_category'] = test['trx_category'].factorize()[0].astype(np.int32)

train['channel_type'] = train['channel_type'].factorize()[0].astype(np.int32)
test['channel_type'] = test['channel_type'].factorize()[0].astype(np.int32)

In [12]:
train['year_month'] = train['year'].apply(str) + " " + train['month'].apply(str)
test['year_month'] = test['year'].apply(str) + " " + test['month'].apply(str)
train.head()

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum,...,trx_category__CASH_ADV,trx_category__CAT,trx_category__DEPOSIT,trx_category__POS,trx_category__WD_ATM_OTHER,trx_category__WD_ATM_PARTNER,trx_category__WD_ATM_ROS,month,year,year_month
0,2017-01-10,0,5200,NaN,810,21OCT17:00:00:00,5023.0,POS,0,0.0,...,0,0,0,1,0,0,0,10,2017,2017 10
1,2017-01-10,0,6011,NaN,810,12OCT17:12:24:07,20000.0,DEPOSIT,0,0.0,...,0,0,1,0,0,0,0,10,2017,2017 10
2,2017-01-12,0,5921,NaN,810,05DEC17:00:00:00,767.0,POS,0,0.0,...,0,0,0,1,0,0,0,12,2017,2017 12
3,2017-01-10,0,5411,NaN,810,21OCT17:00:00:00,2031.0,POS,0,0.0,...,0,0,0,1,0,0,0,10,2017,2017 10
4,2017-01-10,0,6012,NaN,810,24OCT17:13:14:24,36562.0,C2C_OUT,0,0.0,...,0,0,0,0,0,0,0,10,2017,2017 10

In [105]:
train['year'] = train['year'].factorize()[0].astype(np.int32)
test['year'] = test['year'].factorize()[0].astype(np.int32)

train['month'] = train['month'].factorize()[0].astype(np.int32)
test['month'] = test['month'].factorize()[0].astype(np.int32)

In [106]:
train['c_year_month'] = train['year_month'].factorize()[0].astype(np.int32)
test['c_year_month'] = test['year_month'].factorize()[0].astype(np.int32)

In [13]:
train['tx']=train.groupby(['cl_id'])["amount"].transform("count").astype(np.int32)
test['tx']=test.groupby(['cl_id'])["amount"].transform("count").astype(np.int32)

In [15]:
train['n_MCC'] = train.groupby(['cl_id'])['MCC'].transform("nunique").astype(np.int32)
test['n_MCC'] = test.groupby(['cl_id'])['MCC'].transform("nunique").astype(np.int32)

In [16]:
train['n_trx_category'] = train.groupby(['cl_id'])['trx_category'].transform("nunique").astype(np.int32)
test['n_trx_category'] = test.groupby(['cl_id'])['trx_category'].transform("nunique").astype(np.int32)

In [17]:
train['n_month'] = train.groupby(['cl_id'])['month'].transform("nunique").astype(np.int32)
test['n_month'] = test.groupby(['cl_id'])['month'].transform("nunique").astype(np.int32)

In [18]:
train['sum_per_tx'] = train['sum'] / train['tx']
test['sum_per_tx'] = test['sum'] / test['tx']

In [ ]:
from datetime import datetime

def get_date(row):
    dt = datetime.strptime(row['TRDATETIME'], '%d%b%H:%M:%S:%f')
    return datetime(row['PERIOD'].year, dt.month, dt.day)


train['TRDATETIME_2'] = train.apply(lambda x: get_date(x), axis = 1)
train.head()

In [113]:
test['TRDATETIME_2'] = test.apply(lambda x: get_date(x), axis = 1)
test.head()

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,sum,month,year,year_month,c_year_month,tx,n_MCC,n_trx_category,n_month,sum_per_tx,TRDATETIME_2
0,2017-01-04,2,0,-1,0,18APR17:00:00:00,153.00,0,328717.72,0,0,2017 4,0,199,29,6,4,1651.847839,2017-04-18
1,2017-01-03,2,1,-1,0,10MAR17:00:00:00,388.08,0,328717.72,1,0,2017 3,1,199,29,6,4,1651.847839,2017-03-10
2,2017-01-02,2,2,-1,0,21FEB17:00:00:00,999.00,0,328717.72,2,0,2017 2,2,199,29,6,4,1651.847839,2017-02-21
3,2017-01-04,2,0,-1,0,26APR17:00:00:00,90.00,0,328717.72,0,0,2017 4,0,199,29,6,4,1651.847839,2017-04-26
4,2017-01-04,2,0,-1,0,08APR17:00:00:00,130.00,0,328717.72,0,0,2017 4,0,199,29,6,4,1651.847839,2017-04-08

In [29]:
train['amount_last'] = (train.groupby(['cl_id']).apply(lambda x: x.sort_values(["TRDATETIME_2"])))['amount'].transform('last')
test['amount_last'] = test.groupby(['cl_id']).apply(lambda x: x.sort_values(["TRDATETIME_2"]))['amount'].transform('last')

TypeError: last() missing 1 required positional argument: 'offset'

In [114]:
train['year_month'].unique()

array(['2017 10', '2017 12', '2017 7', '2017 9', '2017 8', '2017 6',
       '2017 4', '2017 5', '2017 3', '2016 11', '2016 12', '2017 1',
       '2017 2', '2017 11', '2018 1', '2018 2', '2018 3', '2018 4',
       '2016 10'], dtype=object)

In [115]:
train['c_year_month'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18])

In [23]:
train.loc[train.groupby('cl_id')['TRDATETIME_2'].idxmax()]['amount']

,PERIOD,cl_id,MCC,channel_type,currency,TRDATETIME,amount,trx_category,target_flag,target_sum,sum,month,year,tx,n_MCC,n_trx_category,n_month,sum_per_tx,TRDATETIME_2
2,2017-01-12,0,2,-1,0,05DEC17:00:00:00,767.00,0,0,0.00,64383.00,0,0,5,5,3,1,12876.600000,2017-12-05
32,2017-01-10,1,5,-1,0,19OCT17:00:00:00,342.00,0,0,0.00,267578.04,0,0,104,23,3,1,2572.865769,2017-10-19
109,2017-01-06,5,25,-1,0,18JUN17:00:00:00,3719.00,0,1,326211.75,546369.13,0,0,142,34,7,1,3847.669930,2017-06-18
268,2017-01-07,9,16,-1,0,31JUL17:15:51:03,100.00,0,0,0.00,849315.09,0,0,39,5,5,1,21777.310000,2017-07-31
370,2017-01-09,10,16,-1,0,28SEP17:05:14:47,50.00,0,0,0.00,1124343.99,0,0,463,36,7,1,2428.388747,2017-09-28
794,2017-01-09,11,7,-1,0,22SEP17:00:00:00,160.00,0,0,0.00,427747.14,0,0,217,39,2,1,1971.184977,2017-09-22
978,2017-01-08,14,5,-1,0,11AUG17:00:00:00,345.00,0,1,187776.76,448690.17,0,0,136,30,3,1,3299.192426,2017-08-11
1119,2017-01-05,20,3,-1,0,30MAY17:00:00:00,906.00,0,0,0.00,437308.09,0,0,77,17,2,1,5679.325844,2017-05-30
1315,2017-01-01,21,4,-1,0,28JAN17:00:00:00,1.00,7,0,0.00,338881.65,0,0,124,35,4,1,2732.916532,2017-01-28
1215,2017-01-07,22,79,-1,0,01JUL17:00:00:00,511.00,0,0,0.00,249767.00,0,0,59,12,6,1,4233.338983,2017-07-01
1403,2017-01-05,23,16,-1,0,26MAY17:01:07:14,100.00,0,1,3888.00,200469.80,0,0,51,11,6,1,3930.780392,2017-05-26
1421,2017-01-04,24,23,-1,0,05APR17:00:00:00,774.00,0,1,1260.64,113185.76,0,0,11,8,3,1,10289.614545,2017-04-05
1424,2017-01-02,25,5,-1,0,08FEB17:00:00:00,170.00,0,1,144.61,1471400.00,0,0,12,6,4,1,122616.666667,2017-02-08
1459,2017-01-06,28,57,-1,0,21JUN17:00:00:00,800.00,0,1,70713.04,168493.49,0,0,75,20,4,1,2246.579867,2017-06-21
1516,2017-01-03,29,46,-1,0,28MAR17:00:00:00,370.00,0,1,38603.17,334096.98,0,0,167,24,3,1,2000.580719,2017-03-28
1751,2017-01-03,31,1,-1,0,12MAR17:00:00:00,4500.00,5,1,342520.00,449867.76,0,0,107,22,5,1,4204.371589,2017-03-12
1825,2017-01-11,32,1,-1,0,16NOV17:00:00:00,7000.00,6,1,277634.90,232963.00,0,0,133,21,6,1,1751.601504,2017-11-16
1953,2018-01-01,35,3,-1,0,26JAN18:00:00:00,994.74,0,1,326211.75,421083.90,0,2,225,44,6,1,1871.484000,2018-01-26
2149,2017-01-02,38,1,-1,0,09FEB17:11:05:34,10000.00,3,0,0.00,296808.00,0,0,12,5,3,1,24734.000000,2017-02-09
2176,2017-01-08,39,4,-1,0,11AUG17:20:06:43,10.02,2,0,0.00,689896.20,0,0,83,22,5,1,8312.002410,2017-08-11
2301,2017-01-04,41,55,-1,0,25APR17:00:00:00,3292.00,0,1,37829.57,396134.35,0,0,116,32,4,1,3414.951293,2017-04-25
2361,2017-01-09,42,16,-1,0,01SEP17:09:03:22,300.00,0,0,0.00,677984.90,0,0,252,22,5,1,2690.416270,2017-09-01
2649,2017-01-04,46,50,-1,0,24APR17:00:00:00,24.00,0,0,0.00,444559.48,0,0,102,15,3,1,4358.426275,2017-04-24
2757,2017-01-07,48,3,-1,0,17JUL17:00:00:00,343.00,0,1,118469.01,445286.55,0,0,108,23,5,1,4123.023611,2017-07-17
2732,2017-01-06,49,3,-1,0,29JUN17:00:00:00,283.00,0,0,0.00,321832.94,0,0,90,32,4,1,3575.921556,2017-06-29
2954,2017-01-09,50,5,0,0,29SEP17:00:00:00,13000.00,0,1,74592.37,267108.91,0,0,47,15,2,1,5683.168298,2017-09-29
2965,2017-01-10,52,1,0,0,18OCT17:16:22:53,85000.00,1,0,0.00,514679.46,0,0,19,4,3,1,27088.392632,2017-10-18
3026,2017-01-06,54,52,0,0,22JUN17:07:32:23,3000.00,7,0,0.00,175289.16,0,0,167,24,4,1,1049.635689,2017-06-22
3216,2017-01-05,55,18,0,0,05MAY17:00:00:00,1603.31,0,0,0.00,352452.82,0,0,120,28,2,1,2937.106833,2017-05-05
3164,2017-01-10,56,4,0,0,03OCT17:10:00:01,89670.00,8,1,11028.00,1106460.77,0,0,40,7,4,1,27661.519250,2017-10-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488891,2017-01-08,10162,18,4,0,02AUG17:00:00:00,160.00,0,1,253.00,231842.34,0,0,127,20,2,1,1825.530236,2017-08-02
489720,2017-01-08,10163,2,4,0,31AUG17:00:00:00,600.00,0,0,0.00,407873.07,0,0,166,36,4,1,2457.066687,2017-08-31
488953,2017-01-03,10164,1,4,0,31MAR17:13:07:07,6400.00,3,1,63651.50,161800.00,0,0,11,2,3,1,14709.090909,2017-03-31
488942,2017-01-02,10166,7,4,0,20FEB17:00:00:00,499.00,0,1,3300.00,435339.40,0,0,70,27,3,1,6219.134286,2017-02-20
488592,2017-01-03,10167,7,4,0,06MAR17:00:00:00,290.00,0,1,280428.20,586800.45,0,0,171,31,6,1,3431.581579,2017-03-06
489824,2017-01-07,10168,16,4,0,06JUL17:09:27:55,93.00,0,0,0.00,427392.24,0,0,35,15,2,1,12211.206857,2017-07-06
488373,2017-01-10,10169,1,4,0,19OCT17:08:57:02,100.00,1,0,0.00,544376.01,0,0,78,19,5,1,6979.179615,2017-10-19
488259,2017-01-07,10170,0,4,0,19JUL17:00:00:00,22.00,0,1,220.00,300851.00,0,0,42,3,3,1,7163.119048,2017-07-19
489260,2017-01-07,10171,3,4,0,24JUL17:00:00:00,104.04,0,0,0.00,374614.82,0,0,80,14,4,1,4682.685250,2017-07-24
488858,2017-01-07,10175,16,4,0,07JUL17:11:48:24,100.00,0,0,0.00,1474700.00,0,0,15,2,3,1,98313.333333,2017-07-07
488270,2017-01-06,10176,1,4,0,21JUN17:14:44:56,500.00,1,1,405.00,8085.10,0,0,15,6,5,1,539.006667,2017-06-21
488303,2017-01-06,10177,41,4,0,29JUN17:00:00:00,6900.00,0,0,0.00,342438.85,0,0,114,16,2,1,3003.849561,2017-06-29
488314,2017-01-02,10180,60,4,0,28FEB17:00:00:00,11400.00,0,0,0.00,569340.00,0,0,20,4,3,1,28467.000000,2017-02-28
488477,2017-01-09,10181,46,4,0,29SEP17:00:00:00,740.00,0,0,0.00,328643.05,0,0,177,34,4,1,1856.740395,2017-09-29
488441,2017-01-06,10184,56,4,0,17JUN17:00:00:00,1062.00,4,1,7893.96,954491.81,0,0,46,7,3,1,20749.821957,2017-06-17
488535,2017-01-08,10185,3,4,0,24AUG17:00:00:00,420.00,0,1,87573.16,294177.55,0,0,51,13,3,1,5768.187255,2017-08-24
488555,2017-01-09,10186,3,4,0,27SEP17:00:00:00,1610.50,0,1,9.99,307231.81,0,0,169,23,3,1,1817.939704,2017-09-27
489165,2017-01-08,10188,1,4,0,29AUG17:13:54:31,19000.00,1,1,2192.00,127882.78,0,0,13,7,4,1,9837.136923,2017-08-29
488583,2017-01-04,10190,1,4,0,27APR17:22:07:25,150000.00,3,0,0.00,941620.00,0,0,6,2,2,1,156936.666667,2017-04-27
488587,2017-01-01,10192,1,4,0,23JAN17:09:10:56,4500.00,3,1,65.18,469980.82,0,0,24,12,4,1,19582.534167,2017-01-23
490466,2017-01-02,10193,1,4,0,22FEB17:10:52:03,5000.00,3,1,143839.00,370000.00,0,0,12,2,3,1,30833.333333,2017-02-22
489061,2017-01-08,10202,61,4,0,02AUG17:00:00:00,23613.00,0,1,56485.00,380723.90,0,0,14,11,2,1,27194.564286,2017-08-02
488992,2017-01-05,10203,23,4,0,13MAY17:00:00:00,199.99,0,0,0.00,179973.13,0,0,102,38,4,1,1764.442451,2017-05-13
489089,2017-01-08,10206,3,4,0,12AUG17:00:00:00,1876.36,0,0,0.00,195786.69,0,0,40,10,3,1,4894.667250,2017-08-12
489389,2017-01-10,10207,1,4,0,19OCT17:15:15:15,40000.00,1,1,27856.23,2156273.77,0,0,371,46,5,1,5812.058679,2017-10-19
489364,2017-01-01,10210,23,4,0,15JAN17:00:00:00,71.00,0,1,11277.40,239513.59,0,0,114,21,4,1,2100.996404,2017-01-15
489591,2017-01-07,10212,61,4,0,19JUL17:00:00:00,5000.00,0,0,0.00,358900.00,0,0,14,2,2,1,25635.714286,2017-07-19
489627,2017-01-07,10213,3,4,0,05JUL17:00:00:00,5000.00,0,0,0.00,677387.58,0,0,74,19,4,1,9153.886216,2017-07-05
489951,2017-01-02,10214,57,4,0,17FEB17:00:00:00,8100.00,0,0,0.00,222137.42,0,0,107,23,1,1,2076.050654,2017-02-17
490021,2016-01-12,10215,27,4,0,17DEC16:00:00:00,2110.90,0,0,0.00,64561.65,0,1,24,10,2,1,2690.068750,2016-12-17

In [116]:
columns = ['cl_id',  'trx_category',  'amount', 'tx', 'n_MCC', 'n_trx_category', 'sum', 'c_year_month']

In [78]:
model = LGBMClassifier( n_jobs=-1)
model.fit(train[columns], train['target_flag'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [79]:
X_train, X_test, y_train, y_test = train_test_split(train[columns], train['target_flag'], test_size=0.33, random_state=42)
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)  
X_train['target_pred'] = model.predict(X_train)
X_train['target_pred'] = X_train['target_pred'].groupby(X_train['cl_id']).transform(lambda x:x.value_counts().index[0])
print(roc_auc_score(y_train, X_train['target_pred']))
X_test['target_pred'] = model.predict(X_test)
X_test['target_pred'] = X_test['target_pred'].groupby(X_test['cl_id']).transform(lambda x:x.value_counts().index[0])

print(roc_auc_score(y_test, X_test['target_pred']))
print(cross_val_score(model, y_test, X_test['target_pred'])) 
model.fit(train[columns], train['target_flag'])
train['target_pred'] = model.predict(train[columns])
train['target_pred'] = train['target_pred'].groupby(train['cl_id']).transform(lambda x:x.value_counts().index[0])
print(roc_auc_score(train['target_flag'], train['target_pred']))

0.9931476871861956
0.9365481862650121
0.9973141092507076

In [31]:
X_train['target_pred2'] = X_train['target_pred'].groupby(X_train['cl_id']).transform(lambda x:x.value_counts().index[0])

In [79]:
roc_auc_score(train['target_flag'], model.predict(train[columns]))

0.8878205289884776

In [117]:
new_train = train.groupby('cl_id', as_index=False).first()
new_test = test.groupby('cl_id', as_index=False).first()

In [34]:
new_train['ratio'] = new_train['last_amount'] / new_train['sum']

In [28]:
new_train['last_amount'] = train.loc[train.groupby('cl_id')['TRDATETIME_2'].idxmax()]['amount']
new_test['last_amount'] = test.loc[test.groupby('cl_id')['TRDATETIME_2'].idxmax()]['amount']

In [130]:
X_train, X_test, y_train, y_test = train_test_split(new_train[columns], new_train['target_flag'], test_size=0.33, random_state=42)
#model = LGBMClassifier( n_jobs=-1)
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=15)

#model = CatBoostClassifier(
#    logging_level='Silent'
#)


model.fit(X_train, y_train)  #source.groupby(['Country','City']).agg(lambda x:x.value_counts().index[0])
X_train['target_pred'] = model.predict(X_train)
print(roc_auc_score(y_train, X_train['target_pred']))
X_test['target_pred'] = model.predict(X_test)
X_test['target_pred'] = X_test['target_pred'].groupby(X_test['cl_id']).transform(lambda x:x.value_counts().index[0])

print(roc_auc_score(y_test, X_test['target_pred']))
model.fit(new_train[columns], new_train['target_flag'])
new_train['target_pred'] = model.predict(new_train[columns])
print(roc_auc_score(new_train['target_flag'], new_train['target_pred']))

model.fit(new_train[columns], new_train['target_flag'])
new_test['target_flag'] = model.predict(new_test[columns])
new_test.groupby('cl_id', as_index=False).first()[['cl_id', 'target_flag']].to_csv('subm.csv', encoding='utf-8', sep=',', index=False)

0.9958949023130474
0.7149366655871028
0.9944218138702392

In [37]:
model.booster_.feature_importance()

array([619, 116, 557, 599, 353, 151, 587,  18])

In [54]:
def rmsle(real, predicted):
    real = np.array(real)
    predicted = np.array(predicted)
    return np.sqrt(1.0 / len(real) * sum((np.log(real+1) - np.log(predicted+1)) ** 2))

def scale(y):
    return  (y - x_min) / (x_max - x_min)

def inverse(y):
    return y * (x_max - x_min) + x_min
    
from sklearn.ensemble import GradientBoostingRegressor
    

X_train, X_test, y_train, y_test = train_test_split(new_train, new_train['target_sum'], test_size=0.33, random_state=42)

columns_2 = ['cl_id',  'trx_category',  'amount', 'tx', 'n_MCC', 'n_trx_category', 'sum', 'target_flag']


from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import BaggingRegressor 
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor
model = DecisionTreeRegressor()
model.fit(X_train[columns_2], y_train)
X_train['target_sum_pred'] = model.predict(X_train[columns_2])
print(rmsle(y_train, X_train['target_sum_pred']))
X_test['target_sum_pred'] = model.predict(X_test[columns_2])
print(rmsle(y_test, X_test['target_sum_pred']))
model.fit(train[columns_2], train['target_sum'])
train['target_sum_pred'] = model.predict(train[columns_2])
print(rmsle(train['target_sum'], train['target_sum_pred']))

/home/alena/.local/lib/python3.6/site-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/alena/.local/lib/python3.6/site-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0.0
2.0237775848203947
2.0284221587630262e-15

In [40]:
model.feature_importances_

array([2.24079277e-02, 2.78583372e-08, 5.05653695e-07, 5.74297705e-02,
       5.54727388e-01, 1.43617017e-02, 3.46910840e-01, 4.16183851e-03])